.clickable { cursor: pointer; }

.spaced-l-s { margin-left: 8px; }
.spaced-l { margin-left: 16px; }
.spaced-l-l { margin-left: 24px; }

.spaced-r-s { margin-right: 8px; }
.spaced-r { margin-right: 16px; }
.spaced-r-l { margin-right: 24px; }

.spaced-t-s { margin-top: 8px; }
.spaced-t { margin-top: 16px; }
.spaced-t-l { margin-top: 24px; }

.spaced-b-s { margin-bottom: 8px; }
.spaced-b { margin-bottom: 16px; }
.spaced-b-l { margin-bottom: 24px; }