$color-yellow-1: #99bb22;
$color-green-1: #22aa22;
$color-white-1: #fafafa;
$color-black-1: #0a0a0a;
$color-red-1: #fa0a0a;
$color-blue-1: #0a0afa;
$color-white-transparent-1: rgba(255,255,255,0.7);
$color-white-transparent-2: rgba(255,255,255,0.3);
$color-white-transparent-3: rgba(255,255,255,0.1);